*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-title:white;
  --title-text-color: #fff;
  --border-color:red;
  --background-color-primary: #fff;
  --background-color-secondary: #f4f4f4;
  --text-color: #000;
  --theme-color: red;
  --hover-background: red;
  --footer-background: red;
  --footer-text-color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: var(--background-color-primary);
}

.header {
  background-color: black;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.header-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
}

.header-icons a {
  text-decoration: none;
  border-radius: 50%;
}

.header-icons a:hover,
.header-icons a:focus {
  background: var(--hover-background);
}

.icon {
  width: 40px;
  height: 40px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.icon img {
  width: 18px;
  height: 18px;
  color: #fff;
}

.header-title {
  color: var(--header-title);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
}

.profile-image {
  image-orientation:inherit; 
  background-image: url("./assets/profileImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.header-portfolio {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 13px;
  line-height: 18px;
}

.portfolio-name {
  font-weight: 700;
}

.first-occupation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  margin: 0;
}

.second-occupation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header-profile {
  display: flex;
  justify-content: flex-end;
  width: 100vh;
}


.intro-section {
  width: 100%;
  background: var(--background-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -34px;
}

.intro-text {
  font-family: 'Montserrat', sans-serif;
  width: 327px;
  color: var(--text-color);
  font-size: 17px;
  line-height: 29px;
  padding: 50px 0;
}

.line {
  width: 39px;
  display: inline-block;
  margin-bottom: 3px;
  height: 4px;
  background-color: var(--theme-color);
}

.dot {
  height: 10px;
  width: 10px;
  background-color: var(--theme-color);
  border-radius: 50%;
  display: inline-block;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: var(--title-text-color);
  background: var(--theme-color);
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 4px;
  position: relative;
  left: 50%; /*Move the element to the right by 50% of the container's width*/
  /* Calculates 50% of the element's width, and moves it by that amount across the X-axis to the left */
  transform: translateX(-50%);
  margin-top: 80px;
}

.tech-skills {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.01em;
  max-width: 327px;
  margin: 0px auto 50px auto;
}

.highlight-color {
  color: var(--theme-color);
}

.projects-section {
  width: 100%;
  background-color: var(--background-color-secondary);
  padding-bottom: 50px;
}

.featured-projects {
  max-width: 327px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 24px auto 0 auto;
}

.featured-projects a,
.other-project a,
.post-card a,
.social-media-icons a {
  text-decoration: none;
  color: var(--text-color);
}

.featured-projects a:visited,
.other-project a:visited,
.post-card a:visited {
  color: transparent;
}

.project-card {
  grid-column: span 1;
  margin: 6px auto;
}

.project-card:hover {
  cursor: pointer;
}

.project-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 327px;
  height: 212px;
}

.project-headline img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 327px;
  max-height: 212px;
}

.project-title {
  font-family: 'Montserrat', sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: auto;
  z-index: 1;
  transition: opacity 250ms ease;
}

.transbox {
  background: rgb(156, 166, 197);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  max-width: 327px;
  max-height: 212px;
  position: absolute;
  transition: opacity 250ms ease;
}

/* when hover over project-headline the project title will disappear */
.project-headline:hover .project-title {
  opacity: 0;
}

/* when hover over project-headline the transbox will disappear */
.project-headline:hover .transbox {
  opacity: 0;
}

.project-brief {
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0.01em;
  margin-top: 20px;
}

.description-title {
  color: var(--theme-color);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.description-project {
  margin: 0;
}

.description-project:hover,
.link-github-project:hover {
  text-decoration: underline;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.tags p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.01em;
  text-align: center;
  background: #fddfe7;
  /* Control the size of the tags */
  padding: 6px 8px;
  /* Control the spacing of our tags */
  margin: 4px 8px 0 0;
}

.link-github-project {
  display: inline-block;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  font-style: italic;
  margin-bottom: 16px;
}

.subheading {
  font-family: 'Montserrat', sans-serif;
  color: var(--theme-color);
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

.projects-section {
  padding-bottom: 100px;
}

.other-project {
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  max-width: 327px;
  margin: 0 auto;
}

.other-project-title,
.more-thoughts-title {
  text-decoration: none;
  margin: 0;
}

.highlight-color-uppercase {
  color: var(--theme-color);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
}

.thoughts-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  max-width: 327px;
  margin: 0 auto;
}

.post-card {
  grid-column: span 1;
  max-width: 327px;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
}

.post-card img {
  width: 100%;
  height: 100%;
  max-width: 327px;
  max-height: 205px;
}

.post-card p {
  margin: 0;
}

.font-weight-bold {
  font-weight: 700;
}

.more-thoughts {
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  max-width: 327px;
  margin: 0 auto 50px auto;
}

.more-thoughts-title {
  margin-bottom: 24px;
  text-decoration: underline;
}

.skills-section {
  background: var(--background-color-secondary);
  width: 100%;
  padding-bottom: 50px;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 327px;
  text-align: center;
  font-size: 17px;
  line-height: 29px;
  margin: 0 auto;
}

.skills-container p {
  margin: 1px;
}

.skills-list {
  grid-column: span 1;
}

.social-icon {
  width: 60px;
  height: 60px;
  border: 2px solid var(--theme-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.social-icon svg {
  width: 20px;
  height: 20px;
  fill: var(--theme-color);
}

.social-media-icons {
  max-width: 381px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
}

.social-media-icons p {
  text-transform: uppercase;
  color: var(--theme-color);
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  margin: 4px 0 0 0;
}

.social-media-icons a:hover,
.social-media-icons a:focus {
  transform: scale(1.2);
}

footer {
  font-family: 'Montserrat', sans-serif;
  color: var(--footer-text-color);
  background: var(--footer-background);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 50px;
}

.contact-info {
  max-width: 327px;
  text-align: center;
}

.contact-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
}

.contact-info p {
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  margin: 0;
}

.contact-info a {
  text-decoration: none;
  color: var(--footer-text-color);
}

@media (min-width: 791px) {
  .header-image {
    height: 681px;
  }
  .header {
    width: 80%;
    height: 649px;
    margin-top: 76px;
  }
  .header-portfolio {
    font-size: 22px;
    line-height: 37px;
  }
  .first-occupation {
    font-size: 62px;
    line-height: 68px;
  }
  .second-occupation {
    font-size: 26px;
    line-height: 78px;
  }
  .icon {
    width: 80px;
    height: 80px;
    margin: 4px;
    border: 3px solid var(--border-color);
  }
  .icon img {
    width: auto;
    height: auto;
  }
  .profile-image {
    width: 333px;
    height: 333px;
    border: 3px solid var(--border-color);
    margin-top: -150px;
  }
  .intro-section {
    margin-top: -76px;
  }
  .intro-text {
    width: 892px;
    font-size: 30px;
    line-height: 50px;
    padding: 100px 0;
  }
  .line {
    height: 5px;
    width: 78px;
    margin-bottom: 8px;
  }
  .dot {
    height: 20px;
    width: 20px;
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    padding: 0 8px;
    margin-top: 120px;
    grid-column: span 4;
  }
  .tech-skills {
    font-size: 30px;
    line-height: 50px;
    max-width: 892px;
    margin: 60px auto 100px auto;
  }
  .featured-projects {
    max-width: 892px;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-top: 50px;
  }
  .project-card {
    margin: 20px auto;
  }
  .project-headline,
  .project-headline img,
  .transbox {
    max-width: 416px;
    max-height: 250px;
  }
  .project-brief {
    font-size: 25px;
    line-height: 41px;
    max-width: 416px;
    margin-top: 40px;
  }
  .tags {
    margin-bottom: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .tags p {
    font-size: 16px;
    line-height: 21px;
    /* Control the size of the tags */
    padding: 6px 16px;
    /* Control the spacing of our tags */
    margin: 6px 8px 6px 0;
  }
  .link-github-project {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .subheading {
    font-size: 38px;
    line-height: 47px;
  }
  .other-project {
    font-size: 25px;
    line-height: 33px;
    max-width: 892px;
  }
  .other-project-title {
    text-decoration: underline;
  }
  .other-project-title:hover,
  .more-thoughts-title:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .thoughts-section {
    grid-template-columns: 1fr 1fr;
    max-width: 892px;
    column-gap: 57px;
  }
  .post-card {
    max-width: 416px;
    font-size: 25px;
    line-height: 41px;
  }
  .post-card img {
    max-width: 416px;
    max-height: 250px;
  }
  .more-thoughts {
    font-size: 25px;
    line-height: 33px;
    max-width: 892px;
    margin: 0 auto 100px auto;
  }
  .skills-section {
    padding-bottom: 100px;
  }
  .skills-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 892px;
    font-size: 25px;
    line-height: 41px;
  }
  .skills-container p {
    margin: 4px;
  }
  .social-icon {
    width: 160px;
    height: 160px;
    border: 5px solid var(--theme-color);
  }
  .social-icon svg {
    width: auto;
    height: auto;
  }
  .social-media-icons {
    max-width: 860px;
  }
  .social-media-icons p {
    font-size: 25px;
    line-height: 41px;
  }
  footer {
    margin-top: 100px;
    padding: 80px;
  }
  .contact-info {
    max-width: 892px;
  }
  .contact-title {
    font-size: 38px;
    line-height: 47px;
  }
  .contact-info p {
    font-size: 30px;
    line-height: 50px;
  }
}